@font-face {
    font-family: SF-Pro-Display-Light;
    src: url(../fonts/SF-Pro-Display-Light.otf);
  }
@font-face {
    font-family: SF-Pro-Display-Heavy;
    src: url(../fonts/SF-Pro-Display-Heavy.otf);
  }
@font-face {
  font-family: SF-Mono-Regular;
  src: url(../fonts/SF-Mono-Regular.otf);
}
  .body{
    background-color: #FFFBF5;
  }
  .center {
    text-align: center;
  }
  .cat-picture {
    display: block;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 0 #C3ACD0;
    color: black;
    border-color: #674188;
    border-style: solid;
    border-width: 5px;
    border-radius: 10px;
  }
  progress{
    background-color: #674188;
  }
  .ethxn-header {
    color:black;
    font-family: SF-Mono-Regular;
    margin-top: 13px;
    text-align: center;
    display: block;
  }
  .ethxn-header:link{
    color: black;
  }
  .ethxn-header:hover {
    color: black;
    text-decoration: underline;
    transition: all 150ms;
    cursor: pointer;
  }
  .ethxn-header:not(:hover){
    transition: all 150ms;
    text-decoration: none;

  }
  .ethxn-header:active {
    opacity: 0.5;
  }
  p {
    color: black;
    font-family: SF-Pro-Display-Light;
  }
  h1 {
    color: black;
    font-family: SF-Pro-Display-Heavy;
  }
  h2{
    color:black;
    font-family: SF-Pro-Display-Heavy;
  }