:root{
    --light-background: #F9F5E7;
    --light-primary: #FEA1A1;
    --light-shadow: #cbc8bd;
    --dark-background: #404258;
    --dark-primary: #e6e7da;
    --dark-shadow: #303243;
    --dark-github-button-background: #1c1d2b;
}

@font-face {
    font-family: Blogh;
    src: url(../fonts/NEON\ CLUB\ MUSIC_bold.otf);
}

@font-face {
    font-family: SF-SF-Pro-Display-Heavy;
    src: url(../fonts/SF-Pro-Display-Heavy.otf);
}

@font-face {
    font-family: SF-Pro-Display-Light;
    src: url(../fonts/SF-Pro-Display-Light.otf);
}

@font-face {
    font-family: SF-Pro-Display-LightItalic;
    src: url(../fonts/SF-Pro-Display-LightItalic.otf);
}

.github-button{
    transition: all 100ms;
    display: inline-block;
    width: auto;
    font-family: SF-Pro-Display-LightItalic, sans-serif;
    border: none;
    border-radius: 25px;
    color: var(--dark-primary);
    background-color: var(--light-primary);
}

.dark-github-button{
    transition: all 100ms;
    background-color: var(--dark-github-button-background);
}

.github-button:hover{
    cursor: pointer;
    transition: all 100ms;
    box-shadow: 1px 1px 5px var(--light-shadow);
}

.dark-github-button:hover{
    cursor: pointer;
    transition: all 100ms;
    box-shadow: 1px 1px 5px var(--dark-shadow);
}

.notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.arrow{
    transform: rotate(10deg);
    height: 1;
    left: 100px;
    bottom:45px;
    position: fixed;
    filter: invert(69%) sepia(11%) saturate(1221%) hue-rotate(312deg) brightness(100%) contrast(100%);}

.dark-arrow{
    filter: invert(96%) sepia(6%) saturate(300%) hue-rotate(23deg) brightness(99%) contrast(86%);
}

.theme-pointer-text{
    font-size: 15px;
    transform: rotate(10deg);
    text-align: center;
    font-family: SF-SF-Pro-Display-Heavy, sans-serif;
    align-content: center;
    position: fixed;
    left: 100px;
    bottom: 90px;
}

.theme-pointer-hide{
    opacity: 0.5;
    font-size: 12px;
    transform: rotate(10deg);
    text-align: center;
    font-family: SF-SF-Pro-Display-Heavy, sans-serif;
    align-content: center;
    position: fixed;
    left: 160px;
    bottom: 70px;
}

.theme-pointer-hide:hover{
    transition: all 100ms;
    cursor: pointer;
    opacity: 0.9;
}

body{
    text-align: center;
    transition: all 100ms;
    background-color: var(--light-background);
    color: var(--light-primary);
}

.pardon{
    font-family: SF-Pro-Display-Light, sans-serif;
}

.gradient-text {
    user-select: none;
    font-size: 13vw;
    text-align: center;
    -webkit-text-fill-color: transparent;
    font-family: Blogh, sans-serif;
    background-image: linear-gradient(45deg, #ECCDB4, #FEA1A1);
    background-clip: text;
    -webkit-background-clip: text;
   
}

.dark-gradient-text {
    background-image: linear-gradient(45deg, #F1F6F9, #394867);
}

.dark-body{
    transition: all 100ms;
    background-color: var(--dark-background);
    color: var(--dark-primary);
}

.toggle-theme-button{
    width: 85px;
    height: auto;
    transition: all 100ms;
    padding: 8px;
    border: none;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self:flex-end;
    margin-left: 10px;
    margin-bottom: 10px;
    position:fixed;
    bottom: 0;
    background-color: var(--light-background);
}

.toggle-theme-button:hover{
    box-shadow: 2px 2px 5px var(--light-shadow);
    transition: all 100ms;
    background-color: var(--light-primary);
    cursor: pointer;
}

.toggle-theme-button:hover .filter-toggle-on{
    filter: invert(89%) sepia(8%) saturate(583%) hue-rotate(331deg) brightness(112%) contrast(95%);
}

.toggle-theme-button:active .filter-toggle-on{
    transition: all 150ms;
    transform: scale(1.1);
}

.filter-toggle-on{
    filter: invert(97%) sepia(9%) saturate(6687%) hue-rotate(294deg) brightness(98%) contrast(104%);
}

.dark-toggle-theme-button{
    transition: all 100ms;
    background-color: var(--dark-background);
    background-size: auto;
}

.dark-toggle-theme-button:hover{
    box-shadow: 2px 2px 5px var(--dark-shadow);
    transition: all 100ms;
    background-color: var(--dark-primary);
}

.dark-toggle-theme-button:hover .dark-filter-toggle-on{
    filter: invert(25%) sepia(17%) saturate(751%) hue-rotate(197deg) brightness(92%) contrast(91%);
}

.dark-filter-toggle-on{
    filter: invert(96%) sepia(6%) saturate(300%) hue-rotate(23deg) brightness(99%) contrast(86%);
}

.dark-toggle-theme-button:active .dark-filter-toggle-on{
    transition: all 150ms;
    transform: scale(1.1);
}

h1{
    margin-bottom: 25px;
}